In [ ]:
#Data cleaning - df.drop(na) - fill in na values with median and remove duplicate values
#conda install datasets matplotlib pandas, conda activate python_course
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

#DATA CLEANING- df.drop(na) - fill in na values with median and remove duplicate values

In [21]:
df.info() #we see dataset is 785740 rows long but salary_rate is 33k

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        785741 non-null  float64
 13  salary_hour_avg        785741 non-null  float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [10]:
median_salary_year = df['salary_year_avg'].median()

In [11]:
median_salary_hour =df['salary_hour_avg'].median()

In [14]:
#fill in non values with median
#keep original data frame when manipulating

df_filled = df
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [ ]:
df_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

In [28]:
#drop duplicate values

df_unique = df_filled
df_unique = df_unique.drop_duplicates()

print('length of original df:    ', len(df_filled))
print('length of drop duplicates:   ', len(df_unique))
print('Rows dropped  ', len(df_filled) - len(df_unique))

length of original df:     785741
length of drop duplicates:    785640
Rows dropped   101

In [29]:
#specific duplicate filters - dropping repetitive jobs from the same company

df_unique = df_unique.drop_duplicates(subset = ['job_title', 'company_name'])
print('length of original df:    ', len(df_filled))
print('length of drop duplicates:   ', len(df_unique))
print('Rows dropped  ', len(df_filled) - len(df_unique))

length of original df:     785741
length of drop duplicates:    508042
Rows dropped   277699